* {
  font-family: system-ui;
}

.shop-main-content,
.shop-form {
  width: fit-content;
  margin: auto;
}

.shop-main-content > * {
  text-align: left;
}

.shop-main-content {
  text-align: center;
}

.shop-form {
  text-align: left;
  min-width: 35rem;
}

.input-holder {
  display: flex;
  justify-content: space-between;
}

.input-holder > select,
.input-holder > input {
  min-height: 1.5rem;
}

.input-holder > input {
  max-width: 12rem;
}

select {
  width: 17rem;
}

select > option {
  zoom: 1.2;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.shop-form-btn {
  margin-bottom: 1rem;
  min-width: 7rem;
}

.input-remove-btn {
  width: 2rem;
}

.input-remove-btn-img {
  max-width: -webkit-fill-available;
}

.count-result-text {
  text-align: center;
}

/* Tablet and below */
@media only screen and (max-device-width: 600px) {
  * {
    font-size: 1.5rem;
  }

  .shop-main-content {
    padding: 1rem;
  }

  .shop-main-content,
  .shop-form {
    width: auto;
  }

  input,
  select,
  button {
    padding: 1rem;
    border: 1px solid #000000;
  }

  select > option {
    zoom: normal;
  }

  .buttons {
    height: 5rem;
  }

  .input-remove-btn {
    width: 4rem;
  }

  .shop-form-btn {
    width: 30%;
  }

  .input-holder {
    height: 5rem;
  }
}
